<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.3" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net48" />
  <package id="Mohsenmou.MVVM.Core" version="1.1.0" targetFramework="net48" />
  <package id="Mohsenmou.UI.WPF" version="2.0.2.1" targetFramework="net48" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net48" />
</packages>